## Пример логической модели данных:

<img src="img/SwimmersDB.png" />

Пример "плохого" DDL-кода:

In [ ]:
create table Category (
CategoryID int identity primary key,
Name nvarchar(20) not null UNIQUE, 
ModifiedDate date not null
)

create table SwimmingClub (
SwimmingClubID int identity primary key,
Name varchar(50) not null,
City varchar(50) not null,
Address varchar(50) not NULL,
Phone  varchar(50) not null,
YearEstablished int not null,
ModifiedDate date not NULL
)

create table Swimmer (
SwimmerID int identity primary key,
SwimmingClubID int not null, 
CategoryId int not null references Category(CategoryId),
FirstName varchar(50) not null,
LastName varchar(50) not null,
YearOfBirth int not NULL,
Gender int not null,
ModifiedDate date not NULL
)

create table Coach (
CoachID int identity primary key,
FirstName varchar(50) not null,
LastName varchar(50) not null,
DateOfBirth date not NULL,
CategoryID int not null references Category(CategoryID),
ModifiedDate date not NULL
)

create table SwimmerCoach (
SwimmerID int identity primary key references Swimmer(SwimmerID),
CoachID int not null references Coach(CoachID), 
ModifiedDate date not NULL
)
go

"Хороший" DDL-код подразумевает:
- следование определенным naming conventions и code style
- готовность к последущему рефакторингу
- готовность к миграции на другие СУБД или downgrade текущей
- воспроизводимость результатов при перезапуске
- читаемость
- ...

In [2]:
--выбираем активную БД
use tempdb
go

--создаем таблицы, предварительно проверяя были ли они созданы ранее
--стараемся использовать "классический" подход

--drop table if exists #Category
if OBJECT_ID('#Category') is not null
   drop table #Category
go

<img src ="img\SwimmersDB-LogicalModel.svg" />